*,*::after,*::before{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: hsl(332, 76%, 41%) ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
/*
  *::-webkit-scrollbar-track {
    background: hsl(332, 23%, 50%);
  }*/

  *::-webkit-scrollbar-thumb {
    background-color: hsl(332, 76%, 41%);
    border-radius: 10px;
    border: 3px solid #2C2F33;
  }


h1{
    text-align: center;   
}
body{
    /* background-color: hsl(332, 34%, 47%); */
    background-color: #2C2F33;
    color: white;
}
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* .taskFormContainer{
    background-color: hsl(332, 23%, 50%); 
    display: flex;
    margin: 3rem 0;
    flex-direction: column;
    align-items: center;
    border: black;
    max-width: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */
.taskForm{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    justify-content: center; 
}
.taskForm div{
    margin: 1rem;
}
.taskName label{
    display: block;
}
.taskHours label{
    display: block;
}
.taskDescription label{
    display: block;
}
.taskList{
    display: flex;
    /* background-color: hsl(332, 23%, 50%); */
    background-color: #393D4105;
    flex-direction: column;
    gap: 4rem;
    width: 95%;
    align-items: center;
    padding: 2rem;
    
}
.taskList h2{
    text-align: center;
}
.task{
    padding: 2rem;
    /* min-width: 130px; */
    max-width: 200px;
    /* background-color: hsl(332, 47%, 51%); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5%;
    transition: transform .2s;
    box-shadow: 0px 0px 12px 1px rgba(30,30,30,0.75);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(30,30,30,0.75);
    -moz-box-shadow: 0px 0px 12px 1px rgba(30,30,30,0.75);
}
.task:hover{
    transform: scale(1.1);
}
.taskHeader{
    font-weight: bold;
    font-size: 2rem;
}
.taskAction{
    margin: 0 auto;
}

.taskColumn{
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.button{
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 25%;
    border: none;
    background-color: hsl(332, 76%, 41%);
    transition: transform .2s;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.2);
}


@media (min-width: 600px) {
    .layout{
        display: flex;
        flex-direction: row;
    }   
    .taskAction{
        padding: 1rem;
    }
    .taskList{
        height: 100vh;
        width: 50%;
    }
}